.hint {
    position: absolute;
    right: 5px;
    bottom: 5px;
    border: 1px solid #333333;
    background-color: #333333;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    width: 17px;
    height: 17px;
}
.hint.show {
    background-color: #ffffff;
}
