form {
    width: 300px;
}

.form-field {
    position: relative;
    display: flex;
    flex-direction: column;
}

input {
    border: 1px solid #a0a0a0;
    border-radius: 3px;
    padding: 5px 10px;
}
