form {
    width: 300px;
    font-family: 'Open Sans', sans-serif;
}

.form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

input {
    border: 1px solid #a0a0a0;
    border-radius: 3px;
    padding: 5px 10px;
    font-family: inherit;
    height: 31px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input:focus {
    border-width: 2px;
    border-color: rgba(90, 83, 255, .5);
    outline: none;
}
