button {
    display: inline-flex;
    align-self: flex-start;
    border-radius: 3px;
    border: 3px solid rgba(90, 83, 255, .5);
    background: #5A53FF;
    cursor: pointer;
    padding: 5px 10px;
    font-family: inherit;
    font-weight: bold;
    color: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
button:hover {
    background: #ffffff;
    color: #5A53FF;
}
